.collapsibleContent {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  border-bottom: 1px solid #dee2e6 !important;
}
.titleText {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.collapsibleHeader {
  display: flex;
  justify-content: space-between;
  padding: 2px 20px 2px 20px;
  border-bottom: 1px solid #dee2e6 !important;
  background-color: #29394a;
}
.collapsibleHeader.opened {
  margin-top: 15px;
  margin-right: 40px;
}
.collapsibleHeader.closed {
  margin-top: 0px;
  margin-right: 0;
}
.collapsibleContentPadding {
  padding: 20px 20px 20px 20px;
}
.collapsibleIconButton {
  cursor: pointer;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 10px;
}

.collapsibleCard {
  z-index: 9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #192940;
}

.collapsibleCard.opened {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.collapsibleCard.closed {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 300px;
}

.collapsibleCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
